$font: -apple-system, "lucida grande", helvetica, arial, sans-serif
$font-mono: monaco, consolas

$sin-45: 0.70710678118
$cos-45: $sin-45 // so we don't get confused.

$color-normal: #222
$color-active: #00a7fb
$color-bad: #600

$color-fade: #666
$color-ultrafade: #999
$color-barelythere: #ececec

$color-panel-bg: #f7f7f7
$color-panel-toolpane-bg: #e4e4e4
$color-highlight-bg: #fadd00

// thanks, d3. probably adjust these to some original colors later?
$color-categories: #1f77b4, #ff7f0e, #2ca02c, #d62728, #9467bd, #8c564b, #e377c2, #7f7f7f, #bcbd22, #17becf

// icons
@mixin icon
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased

$icon-natural: "\f036"
$icon-aligned: "\f039"
$icon-plug: "\f1e6"
$icon-toggle-off: "\f204"
$icon-toggle-on: "\f205"
$icon-arrow-right: "\f178"
$icon-share: "\f1e0"
$icon-close: "\f00d"
$icon-circle-close: "\f057"
$icon-bug: "\f188"
$icon-delete: "\f00d"
$icon-angle-right: "\f105"
$icon-maximize: "\f067"
$icon-minimize: "\f068"
$icon-buck: "\f155"

