
// TODO: break this abomination apart; standardize.

@import 'common'
@import 'util'

@mixin panel-toolpane
  background: transparent
  border-radius: 0.2em
  float: right
  overflow: hidden

  li
    float: left
    font-size: 1.33333em
    height: 1em
    padding: 0.4em
      bottom: 0.2em
    position: relative
    width: 1em

  &:hover
    background: $color-panel-toolpane-bg

.panel-wrapper
  position: absolute

  .panel-wrapperToolbar
    @include panel-toolpane
    float: none
    overflow: hidden
    padding: 0.2em 0.3em 0
    position: absolute
    right: 1em
    top: 1em
    z-index: 1

    a
      @include icon
      color: $color-ultrafade
      cursor: default
      float: left
      padding: 0.4em
        right: 0.6em

      &:last-child
        padding-right: 0.4em

      &:hover
        color: $color-normal

      &:before
        @include reify

      &.panel-minimize:before
        content: $icon-minimize
      &.panel-maximize:before
        content: $icon-maximize
      &.panel-close:before
        content: $icon-close
        font-size: 1.1em // have i ever mentioned that i don't like FA?

.panel
  $sidebar-width: 16em

  @include fill(0.5em)
  background-color: $color-panel-bg
  border-radius: 0.2em
  border-left: 2px solid #777

  .panel-toolbar
    bottom: auto
    overflow: hidden
    padding: 0.5em
    position: absolute
    right: 7em
    top: 0
    z-index: 1

  .panel-title
    background-color: #ddd
    border-radius: 0.2em
    font-weight: bold
    left: 0
    padding: 0.5em 0.7em
    position: absolute
    top: 0
    z-index: 2

    .panel-subtitle
      $color-subtitle-bg: #888
      $chevron-depth: 0.4em

      background: $color-subtitle-bg
      border-radius: 0 0.2em 0.2em 0
      color: #fff
      font-weight: normal
      left: 100%
      top: 0
      padding: inherit
        right: 2em
      position: absolute
      white-space: nowrap

      &:before, &:after
        @include reify
        border-left: $chevron-depth solid transparent
        left: -1 * $chevron-depth
        position: absolute

      &:before
        border-top: 1em solid $color-subtitle-bg
        top: 0

      &:after
        border-bottom: 1em solid $color-subtitle-bg
        bottom: 0

      .panel-subtitleClose
        position: absolute
        right: 0.5em
        top: 0.4em

        .icon
          color: #ddd
          &:before
            content: $icon-circle-close
            font-size: 1.3em
          &:hover
            color: #fff

  .panel-main
    padding: 1.5em
      top: 3.5em
    position: relative

  &.hasSidebar .panel-main
    margin-right: $sidebar-width
  .panel-sidebar
    $sidebar-padding: 1em

    @include fill
    background-color: #f0f0f0
    border-radius: 0 0.2em 0.2em 0
    left: auto
    padding: $sidebar-padding
      top: 4em
    width: $sidebar-width - (2 * $sidebar-padding)

.modelView
  border-left-color: #c70c83

  .kvPair
    overflow: hidden
    padding: 0.3em 0

  .kvPair-key
    float: left
    font-size: 1.2em
    font-weight: bold
    padding-right: 0.8em

    &:after
      content: ':'
      font-weight: normal

  &.align-aligned .kvPair-key
    overflow: hidden
    text-overflow: ellipsis
    width: 25%

  .kvPair-valueBlock
    $font-size: 1.2em
    overflow: hidden
    position: relative

    .janus-literal
      font-size: $font-size

    .kvPair-edit input
      @include bare-textbox
      @include fill
      background: #fff
      border-radius: 0.2em
      font-size: $font-size
      opacity: 0
      pointer-events: none
      top: -0.1em
      width: 100%
      &.focus
        opacity: 1
        pointer-events: auto

.toggleButtons
  @include panel-toolpane

  li
    button
      @include fill
      opacity: 0
      z-index: 1

    .icon
      color: $color-barelythere
    .checked .icon
      color: $color-ultrafade

  &:hover li
    .icon
      color: $color-ultrafade
    &:hover .icon
      color: $color-normal
    .checked .icon
      color: $color-active

.toggleSwitch
  @include panel-toolpane

  .icon-plug
    color: $color-ultrafade

  .switch
    padding: 0.3em 0.6em 0 0.1em

    button
      @include bare-button
      color: $color-ultrafade

      &:before
        @include reify
        @include icon
        content: $icon-toggle-off
        font-size: 1.3em

  &:hover
    .icon-plug, .switch button
      color: $color-normal

  &.checked
    .icon-plug
      color: $color-active
    .switch button
      color: $color-normal
      &:before
        content: $icon-toggle-on

.varyingTreeView
  $node-size: 2.8em
  $node-border-width: 0.2em
  $node-outer-size: $node-size + ($node-border-width * 2)
  $node-outer-radius: $node-outer-size / 2
  $inner-size: 2em
  $value-size: 1.4em
  $lambda-size: 1.4em

  $active-color: #08a4ec
  $inactive-color: #555
  $value-color: #85d316
  $inner-color: #999

  .main
    &:after
      @include reify
      clear: both

    .node
      background-color: $color-panel-bg
      border: $node-border-width solid $active-color
      border-radius: $node-size
      float: left
      height: $node-size
      margin-right: 1em
      position: relative
      width: $node-size
      z-index: 1

      .inner-marker
        $border-size: 0.2em
        $centering: ($node-size / 2) - ($inner-size / 2) - $border-size
        border: $border-size solid $inner-color
        border-radius: $inner-size
        display: none
        height: $inner-size
        left: $centering
        position: absolute
        top: $centering
        width: $inner-size

        &:after
          $length: 2.5em
          $dist-x: $sin-45 * (($inner-size / 2) + ($length / 2))
          $dist-y: $sin-45 * (($inner-size / 2) - (2 * $border-size))

          @include reify
          background: linear-gradient(0deg, $active-color, $inner-color)
          height: $length
          left: ($inner-size / 2) + $dist-x
          position: absolute
          top: ($inner-size / 2) + $dist-y
          transform: rotate(-45deg)
          width: 0.2em

      .value-marker
        $centering: ($node-size / 2) - ($value-size / 2)
        background: $value-color
        border-radius: $value-size
        height: $value-size
        left: $centering
        opacity: 0.3
        position: absolute
        top: $centering
        width: $value-size

        &:after
          @include reify
          border-bottom: 1px solid $value-color
          display: none
          height: 0
          left: 100%
          position: absolute
          top: $value-size / 2
          width: 1.6em

    .title
      font-weight: bold

  .tags
    float: left

    li
      background: #999
      border-radius: 0.3em
      color: #fff
      float: left
      font-size: 0.8em
      letter-spacing: -0.05em
      margin: 0.1em
        right: 0.5em
      padding: 0.2em 0.4em
      text-transform: uppercase

  &.hasInner > .main .inner-marker
    display: block
  &.hasValue > .main .value-marker
    opacity: 1
    &:after
      display: block
  &.flattened > .main .node
    border-style: dotted

  .aux
    $inner-padding: 3.5em

    display: none
    padding-top: 0.2em
    position: relative

    &:before
      @include reify
      border-left: 1px solid $inactive-color
      bottom: -1em
      left: ($node-outer-size / 2)
      position: absolute
      top: 0
      width: 0
      z-index: 2

    .varyingTreeView-innerNew > .varyingTreeView > .main .title span
      background: $color-highlight-bg

    .varyingTreeView-innerNew.hasNewInner + .varyingTreeView-inner
      > .varyingTreeView
        opacity: 0.35
        > .main .title span
          background: $color-highlight-bg

      &:before
        $icon-size: 1.3em
        $offset: -0.3em

        @include reify
        @include icon
        color: $color-bad
        content: $icon-delete
        font-size: $icon-size
        left: $inner-padding / $icon-size + $offset
        position: absolute
        top: $offset

    .varyingTreeView-inner
      margin-top: 0.3em
      padding-left: $inner-padding
      position: relative
      z-index: 1

    .mapping
      background-color: $inactive-color
      border-radius: $lambda-size
      clear: both
      color: #fff
      cursor: default
      display: none
      font-weight: bold
      height: $lambda-size
      line-height: 1.2em
      margin-left: $node-outer-radius - ($lambda-size / 2)
      position: relative
      text-align: center
      width: $lambda-size
      z-index: 3

      span
        font-size: 0.9em

  .varyingTreeView-next
    margin-top: 1em

  $indent: 1em
  $slant-length: 1em
  $slant-offset: $slant-length * $cos-45
  .linkedList-node
    .linkedList-next.hasNext
      margin-left: $node-outer-size / 2
      margin-bottom: -1 * $slant-offset
      padding-left: $indent
      position: relative

      &:before
        @include reify
        border-top: 1px solid $inactive-color
        left: -1 * $slant-offset
        position: absolute
        top: 0
        width: $indent + $node-outer-radius

      .linkedList-node:before
          @include reify
          border-left: 1px solid $inactive-color
          bottom: -1em
          left: 0
          position: absolute
          top: $slant-offset

      &:after
        $offset: ($slant-length * $cos-45) / 2
        @include reify
        border-left: 1px solid $inactive-color
        height: $slant-length
        left: $indent + $node-outer-radius - $offset
        top: -1px
        transform: rotate(-45deg)
        position: absolute

    .linkedList-contents
      padding-top: $slant-offset

  .varyingTreeView-nexts > .linkedList
    margin-top: -1 * ($lambda-size / 2 + 1em)

    > .linkedList-node > .linkedList-next.hasNext
      &:before
        left: 0
        width: $indent + $node-outer-radius - $slant-offset
      > .linkedList-node:before
        top: 0

  &.mapped > .aux
    .mapping
      display: block
    &:after
      @include reify
      background: $inactive-color
      bottom: $lambda-size / 2
      //clip-path: url(#lambda) # someday, maybe
      left: $node-outer-radius - ($lambda-size / 2)
      opacity: 0.4
      position: absolute
      top: -0.3em
      width: $lambda-size

  &.derived > .aux
    display: block

  &.derived > .main .node
    border-color: $inactive-color
    .inner-marker:after
      background: linear-gradient(0deg, $inactive-color, $inner-color)
  &.derived.hasObservations
    > .main .node
      border-color: $active-color
      .inner-marker:after
        background: linear-gradient(0deg, $active-color, $inner-color)
    > .aux
      &:before
        border-left-color: $active-color
      .mapping
        background-color: $active-color
      &:after
        background: $active-color
    .linkedList-next.hasNext
      &:before
        border-top-color: $active-color
      .linkedList-node:before
        border-left-color: $active-color
      &:after
        border-left-color: $active-color

  &.hasValue > .aux:before
    top: ($node-size - $value-size) / -2 - $node-border-width
  &.hasInner > .aux:before
    top: ($node-size - $inner-size) / -2

.reaction
  .time
    font-size: 0.9em
    padding-bottom: 0.5em

    .minor
      color: $color-fade
      opacity: 0.7

  .reaction-part
    overflow: hidden
    .reaction-part-id
      float: left
      font-size: 1.2em
      font-weight: bold
    .reaction-part-delta
      float: right

  .reaction-intermediate
    .ellipsis
      font-size: 2.4em
      font-weight: bold

    .multiple
      bottom: 0.5em
      color: $color-ultrafade
      font-size: 0.9em
      position: relative

  .reaction-root
    padding-top: 0.35em

.varyingDelta
  overflow: hidden

  &.hasDelta
    > div
      background-color: $color-highlight-bg
    .delta
      display: block

  .value
    float: left
    font-size: 1.2em
    padding-top: 0.1em

  .delta
    display: none
    float: left
    font-size: 1.2em
    padding-top: 0.1em

  .separator
    @include icon
    float: left
    padding: 0 0.2em
    &:before
      content: $icon-arrow-right

  .newValue
    float: left

.varyingView
  .varyingView-reactions
    .janus-list-selectItem
      border-left: 0.3em solid transparent
      margin: 0 -1em
      padding: 0.6em 1em
      position: relative

      button
        @include fill
        display: block
        opacity: 0
        width: 100% // ??

      &.checked
        border-left-color: $color-active
        background: #fff

      .reaction
        pointer-events: none

        .varyingDelta.hasDelta > div
          background-color: transparent

    li:nth-child(2n) .janus-list-selectItem
      background: #ddd
      &.checked
        background: #fff

.janus-null
  opacity: 0.5

.janus-varying
  display: inline-block
  .janus-varying-contents
    display: inline-block

.janus-debug-static
  font-family: menlo, consolas

.flyout
  $marker-size: 0.6em
  $distance-to-target: 0.4em
  $vertical-offset: 0.5em

  background-color: #fff
  border-radius: 0.2em
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.7), 0 0 1em rgba(0, 0, 0, 0.2)
  margin-left: $marker-size + $distance-to-target
  margin-top: -1 * $vertical-offset
  padding: 1em
  position: absolute
  z-index: 999

  .flyout-marker
    $shadow-size: 0.3em
    height: 2 * ($shadow-size + $marker-size)
    margin-left: -1 * $shadow-size
    margin-top: $vertical-offset - $shadow-size
    overflow: hidden
    position: absolute
    width: $marker-size + $shadow-size

    &:before, &:after
      @include reify
      left: $shadow-size
      position: absolute
      top: $shadow-size

    &.side-left
      left: -1 * $marker-size

      &:before
        @include triangle('left', #000, $marker-size)
        filter: blur($shadow-size)
      &:after
        @include triangle('left', #fff, $marker-size)

.mapping
  .mapping-toolbar
    overflow: hidden
    position: absolute
    right: 1em

  .mapping-debug
    @include icon
    float: right
    font-size: 1.3em

    &:hover
      color: $color-fade

    &:before
      content: $icon-bug

  .mapping-arguments
    padding-bottom: 0.5em
    ul
      overflow: hidden

      @each $color in $color-categories
        li:nth-child(#{index($color-categories, $color)})
          color: $color

    &.inline
      ul li
        float: left
        padding-right: 0.5em

        .argument:after
          color: $color-ultrafade
          content: ','

        &:last-child .argument:after
          content: none

  .mapping-function pre
    font-family: $font-mono
    line-height: 1.1em

  .mapping-result
    padding-top: 0.5em

    .arrow
      @include icon
      float: left
      font-size: 1.2em
      padding-right: 0.3em
      padding-top: 0.1em

      &:before
        content: $icon-arrow-right

  .flyout &
    min-width: 20em

.argument
  font-family: $font-mono

  .argument-equals
    color: $color-ultrafade

