@import 'common'

// fonts.
@font-face
  font-family: 'FontAwesome'
  src: url('assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2')
  font-weight: normal
  font-style: normal

// base styles.
body
  color: #222
  font-family: $font
  overflow: hidden

input
  font-family: $font

.hide
  display: none !important

// icons.
.icon
  @include icon

.icon-natural:before
  content: $icon-natural
.icon-aligned:before
  content: $icon-aligned
.icon-plug:before
  content: $icon-plug

