@import 'util'

#title
  @include fill
  @include no-select
  bottom: auto
  height: 3.5em
  text-align: center
  -webkit-app-region: drag

  span
    font-size: 1.2em
    letter-spacing: -0.02em
    line-height: 3em

$sidebar-width: 20em // TODO: draggable

#sidebar
  $padding: 1.5em

  @include fill
  background-color: #f7f7f7
  border-right: 1px solid #eee
  padding: $padding
    top: 5em
  right: auto
  width: $sidebar-width - (2 * $padding)
  z-index: 99

  h2
    font-size: 1.2em

#main
  @include fill
  left: $sidebar-width

